<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDN9WdgyEbjEv1LTDvqN2xjLrywlNvOzdg</string>
	<key>GCM_SENDER_ID</key>
	<string>208880549460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tellingUs.tellingMe</string>
	<key>PROJECT_ID</key>
	<string>tellingus-tellingme-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tellingus-tellingme-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208880549460:ios:a6d88e740b7a8ae742b7c1</string>
</dict>
</plist>